@keyframes slideBg {
    0% {
      transform: translateX(0deg);
    }
    100% {
      transform: translateX(-50deg);
    }
  }
  
  .bg {
    background-image: url("/Apollo_background.jpg");
    background-size: auto 100%;
  }
  
  .animate-slideBg {
    animation: slideBg 8s ease-in-out infinite alternate;
  }
  @keyframes botAnimate {
    0% {
      transform: scale(1) rotate(0deg);
    }
    100% {
      transform: scale(1.1) rotate(-5deg);
    }
  }
  
  .animate-botAnimate {
    animation: botAnimate 3s ease-in-out infinite alternate;
  }

  .backgroundHomepage {
    position: absolute;
    top: 50px;
    left: 150px;
    opacity: 0.15;
    animation: 60s linear infinite rotateOrbital;
    z-index: -2;
    height: 250px;
    width: 250px;
    border-radius: 50%;
}

.backgroundHomepage.one {
    top: 100px;
    left: 40px;
}

.backgroundHomepage.two {
    top: 200px;
    left: 300px;
}

.backgroundHomepage.three {
    top: 400px;
    left: 600px;
}

.backgroundHomepage.four {
    top: 50px;
    left: 600px;
}

.backgroundHomepage.five {
    top: 10px;
    left: 1000px;
}

@keyframes rotateOrbital {
  0% {
      transform: rotate(-500deg);
  }
  100% {
      transform: rotate(500deg);
  }
}
  