@keyframes slideBg {
    0% {
      transform: translateX(0deg);
    }
    100% {
      transform: translateX(-50deg);
    }
  }
  
  .bg {
    background-image: url("/Apollo_background.jpg");
    background-size: auto 100%;

    @media screen and (max-width: 1024px) {
      background-size: auto 150%;
    }
  }
  
  .animate-slideBg {
    animation: slideBg 8s ease-in-out infinite alternate;
  }
  @keyframes botAnimate {
    0% {
      transform: scale(1) rotate(0deg);
    }
    100% {
      transform: scale(1.1) rotate(-5deg);
    }
  }
  
  .animate-botAnimate {
    animation: botAnimate 3s ease-in-out infinite alternate;
  }

  .backgroundHomepage {
    position: absolute;
    top: 50px;
    left: 150px;
    opacity: 0.15;
    animation: 60s linear infinite rotateOrbital;
    z-index: -2;
    height: 250px;
    width: 250px;
    border-radius: 50%;

    
    @media screen and (max-width: 1024px) {
      height: 0px;
      width: 0px;
    }
}

.backgroundHomepage.one {
    top: 100px;
    left: 40px;

    @media screen and (max-width: 1024px) {
      top: 50px;
      left: 80px;
    }
}

.backgroundHomepage.two {
    top: 200px;
    left: 300px;

    @media screen and (max-width: 1024px) {
      top: 200px;
      left: 80px;
    }
}

.backgroundHomepage.three {
    top: 400px;
    left: 600px;

    @media screen and (max-width: 1024px) {
      top: 130px;
      left: 450px;
    }
}

.backgroundHomepage.four {
    top: 30px;
    left: 900px;

    @media screen and (max-width: 1024px) {
      top: 100px;
      left: 300px;
    }
}

.backgroundHomepage.five {
    top: 10px;
    left: 500px;

    @media screen and (max-width: 1024px) {
      top: 20px;
      left: 400px;
    }
}

@keyframes rotateOrbital {
  0% {
      transform: rotate(-500deg);
  }
  100% {
      transform: rotate(500deg);
  }
}
  